<div class="header pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
        <div class="header-body">
            <!-- Card stats -->
        </div>
    </div>
</div>
<div class="container-fluid mt--7">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-3">
            <div class="card shadow border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Upload</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">Import</a>
                        </div>
                    </div>
                </div>


                <div class="card-body p-lg-5">

                    <div class="row">
                        <div class="col-12 mb-3">
                            <div class="drop-box">
                                <h4 class=" font-weight-normal">
                                    <span class="text-muted">Drop your file(s) here or </span>
                                    <a href="#" class="font-weight-bold">browse</a>
                                </h4>
                                <small class="font-weight-bold pt-3">Max. File Size: 2GB</small>
                            </div>

                        </div>

                        <div class=" col-12 mb-3">
                            <div class="card border-0 bg-transparent">
                                <div class="card-body px-0 pb-0">
                                    <div class="upload">

                                        <div class="row justify-content-between mb-2">
                                            <div class="col-auto  upload-info">
                                                <span class="font-weight-bold small">Uploading</span>
                                                <small class="d-block text-muted">68% - 12 seconds remaining</small>
                                            </div>

                                            <div class="col-auto btn-play">
                                                <a href="#" class="font-weight-bold" style="font-size: 12px;">
                                                    <i class="ni ni-button-pause"></i>
                                                </a>
                                                <a href="#" class="font-weight-bold ml-3">
                                                    <i class="fa fa-times" style="font-size: 16px;"></i>
                                                </a>
                                            </div>
                                        </div>


                                        <div class="progress">
                                            <div role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                                aria-valuemax="100" class="progress-bar bg-gradient-success"
                                                style="width: 60%;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-12 mb-3 text-center">
                            <button type="button" class="btn btn-link btn-sm"
                                (click)="isMenuCollapsed = !isMenuCollapsed">View All Files <i
                                    class="fa fa-chevron-down v-align-middle"></i></button>
                        </div>


                        <div [ngbCollapse]="isMenuCollapsed" class="collapse col-12">
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th scope="col">FileName</th>
                                            <th scope="col">File Size</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>File-name-1.csv</td>
                                            <td>10.kb</td>
                                        </tr>
                                        <tr>
                                            <td>File-name-2.csv</td>
                                            <td>50.kb</td>
                                        </tr>
                                        <tr class="text-danger">
                                            <th>File-name-3.csv</th>
                                            <th>50.2GB</th>
                                        </tr>
                                        <tr>
                                            <td>File-name-4.csv</td>
                                            <td>50.kb</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                </div>

            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="card shadow border-0">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Users</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#" class="btn btn-sm btn-primary">Add User</a>
                        </div>
                    </div>
                </div>

                <div class="card-body p-lg-5">
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">Username</th>
                                    <th scope="col">Email Address</th>
                                    <th scope="col">Generic Tags</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@username</td>
                                    <td>emailuser@gmail.com</td>
                                    <td><span>active</span></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item disabled">
                            <a class="page-link" href="javascript:void(0)" tabindex="-1">
                                <i class="fas fa-angle-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active">
                            <a class="page-link" href="javascript:void(0)">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript:void(0)">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>







<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <label for="dateOfBirth">Date of birth</label>
                <div class="input-group">
                    <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker
                        #dp="ngbDatepicker">
                    <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>


<!--- Sample UI -->
<!-- Page content -->
<div class="container mt--7 d-none">
    <!-- Table -->
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <h1>Angular Dropzone File Upload Example - ItSolutionStuff.com</h1>

            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <!-- <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label> -->
                    <ngx-dropzone-label>
                        <img class="img-face" alt="face" src="assets/img/icons/survey/selected/1.png">
                    </ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>
        </div>
    </div>
</div>



<!-- https://codepen.io/aaroniker/pen/QXxexJ -->